@import "../scss/variable.scss";

a,
a:hover,
a:focus {
  color: $text-main;
}

a .hover-wrapper {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

a:hover .hover-wrapper {
  box-shadow: 0px 3px 5px #ffffff55;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.movie-list {
  margin: 0 auto;
  min-width: 460px;
  max-width: 992px;
  font-size: 1rem;

  &__title {
    color: $brand-sub-purple;
    font-size: 1.5rem;
    margin-left: 0.6em;
  }

  ul.movie-list__list {
    display: flex;
    overflow: auto;
    padding: 0.8em 0;

    li.list-item {
      margin: 0.6em;

      .movie-poster {
        width: 16.56em;
        height: 23.56em;
        position: relative;

        .button-size {
          position: absolute;
          top: 1rem;
          right: 1rem;
          height: 2rem;
          width: 2rem;
          line-height: calc(2rem - 1px);
          text-align: center;
          border-radius: 50%;
          border: 1px solid #3c3c3c;
          background-color: #3c3c3c5c;
          margin-left: 10px;
          cursor: pointer;

          &:hover {
            border: 1px solid #fff;
          }
        }
      }

      .movie-info {
        line-height: 1.5;
        padding: 0.7em 0.5em 0.5em;

        &__movie-title {
          font-size: 1.2em;
          font-weight: 500;
        }

        &__movie-original-title {
          font-size: 0.94em;
          color: $original-movie-title;
        }

        &__movie-release-date {
          font-size: 0.94em;
          color: #ffffffaa;
        }
      }
    }
  }
}

/* media query */
// Small devices , > 576px
@media screen and (min-width: 576px) {
  .movie-list {
    font-size: 0.9rem;
  }
}

// Medium devices , > 768px
@media screen and (min-width: 768px) {
  .movie-list {
    font-size: 0.8rem;
  }
}

// Large devices , > 992px
@media screen and (min-width: 992px) {
  .movie-list {
    font-size: 0.7rem;
  }
}

